# Проект
BASE_URL="http://localhost:3000"
NODE_ENV="development"

# База данных
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="tea_shop_dev"
DB_PORT="5432"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

# JWT
JWT_SECRET=""

# OAuth
YANDEX_CLIENT_ID=""
YANDEX_CLIENT_SECRET=""
VK_CLIENT_ID=""
VK_CLIENT_SECRET=""

# Загрузка файлов
UPLOAD_DIR="./public/uploads"
MAX_UPLOAD_SIZE=10485760

# PgAdmin
PGADMIN_EMAIL="admin@localhost"
PGADMIN_PASSWORD="admin"
PGADMIN_PORT="5050"